<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.edsergeev">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        tools:replace="android:supportsRtl">

    </application>

</manifest>
